@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.center-transform {
    transform-origin: center center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}